@charset "UTF-8";


body {
	background :   #f0ebf0;
	 font-family: 'Nanum Gothic', sans-serif;
	 margin : 0px;
}

#header {
	background : rgba(255,255,255, 0.6);
	 margin-top : 0px;
	 height: 150px;
}

#logo{
	text-align: center;
	font-size : 60px;
	font-weight: bold;
	letter-spacing : 2px;
	color :  #2b81c8;
	padding-top : 15px;
	margin-bottom: 15px;
}

#inb{
	   margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #333;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 13px;
    line-height: 1.6;
    vertical-align: baseline;
		
}
#inner{
	width: 280px;
    margin: 0 auto;

}

.cate {
	float: left;
    margin: 0 auto;
    cursor:pointer;
}

a {
	padding : 15px;
	display: block;
    width: auto;
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.button{
	width:60px;
	height:40px;
	background-color:#5191ce;
	border:2px outset #f0ebf0;
	border-radius:10px;
	margin:0 auto;
	float:left;
	color:#f0ebf0;
	cursor:pointer;
	text-align:center;
	letter-spacing:3px;		
}

.button:hover{
	background:#679DCF;
	transition:0.3s;
	font-weight:bold;
}


.sdFile{
	margin-top:10px;
	float:left;
}

.upload{
	height: 100px;
    padding-top: 2px;
    border:1px solid #333;
	width:30%;
	margin-top:20px;
	margin-left:36%;
}

