@charset "UTF-8";

body{
   background-color:#f0ebf0;
      
}

#main{
   font-family: 'Nanum Gothic', sans-serif;
   position:absolute; top:50%; left:50%;
   transform:translate(-50%, -50%);
}


#bigBox{
   border:1px solid #bbbbbb;
   background-color:#ffffff;
   border-radius:5px;
   height:550px;
   width:400px;  
}

#logo{
   font-size:30px;
   letter-spacing:8px;
   text-shadow: 2px 2px 5px #1260df70;
   margin-left:40%;
   color:#2b81c8;
   font-weight:bold;
   margin-bottom:20%;
   margin-top:30px;
}

#smailBox{
	margin-bottom:50px;
}

a{
	color: inherit;
	text-decoration: none;
	position:relative;
}

#title{
	margin-top:10px;
	text-align:center;
}

.box{
   width:300px;
   height:10px;
   padding:15px;
   margin-top:5px;
   font-size:15px;
   font-weight:300;
   border:1px solid #ebcfea;
   margin-left:7.6%;
}.box:focus{
   outline:1px solid #bdb6e5;
}


.button{
   width:120px;
   height:25px;
   background-color:#5191ce;
   border:1px solid #f0ebf0;
   border-radius:5px;
   margin-top:7.3px;
   margin-right:37.4px;
   float:right;
   color:#f0ebf0;
   cursor:pointer;
   text-align:center;
   letter-spacing:3px;
   
}