@charset "UTF-8";
/*.color1 {color: #2b81c8;}
.color2 {color: #5191ce;}
.color3 {color: #bdb6e5;}
.color4 {color: #ebcfea;}
.color5 {color: #f0ebf0;}*/

body{
	background-color:#f0ebf0;
		
}

#logo{
	font-size:30px;
	letter-spacing:3px;
	margin-left:40%;
	color:#2b81c8;
	font-weight:bold;
	margin-bottom:20%;
	margin-top:30px;
}

.logo2{
	font-size:25px;
	letter-spacing:5px;
	color:#000000;
	margin-left:-8%;
	margin-top:10px;
	font-weight:100;
}

#bigBox{
	border:1px solid #bbbbbb;
	background-color:#ffffff;
	border-radius:5px;
	height:600px;
	width:400px;
	
}

#id{
	font-size:10px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	width:31px;
	padding:2px;
	margin-left:35px;
	margin-bottom:-5px;
	position:absolute;
	z-index:1;
}

#idBox{
	position:relative;
	margin-bottom:20px;
}

/*.color1 {color: #2b81c8;}
.color2 {color: #5191ce;}
.color3 {color: #bdb6e5;}
.color4 {color: #ebcfea;}
.color5 {color: #f0ebf0;}*/


.box{
	width:300px;
	height:10px;
	padding:15px;
	margin-top:5px;
	font-size:15px;
	font-weight:300;
	border:1px solid #ebcfea;
	margin-left:7.6%;
}.box:focus{
	outline:1px solid #bdb6e5;
}

.name{
	margin-top:20px;
	margin-bottom:20px;
}

#firstName{
	width:90px;
	height:10px;
	padding:15px;
	float:left;
}
#lastName{
	width:168px;
	height:10px;
	padding:15px;
	float:left;
	margin-left:10px;
}
#passBox2{
	margin-bottom:20px;
}
#Phone{
	font-size:10px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	width:40px;
	padding:2px;
	margin-left:35px;
	margin-bottom:-5px;
	position:absolute;
	z-index:1;
}
#userPhone{
	position:relative;
}


#pass{
	font-size:10px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	width:40px;
	padding:2px;
	margin-left:35px;
	margin-bottom:-5px;
	position:absolute;
	z-index:1;
}
#passBox{
	position:relative;
}

#idForget{
	margin-left:7.8%;
	margin-top:9px;
	margin-bottom:20px;
	font-size:15px;
	color:#5191ce;
	cursor:pointer;
}
#signUp{
	margin-top:120px;
	margin-left:7.6%;
	font-size:15px;
	color:#5191ce;
	cursor:pointer;
}

#text{
	width:336px;margin-left:7.6%;
	height:10px;
	font-size:15px;
	color:#bdb6e5;
	margin-top:10%;
	margin-bottom:30%;
	line-height:20px;
	letter-spacing:1.5px;
}

.button{
	width:78px;
	height:40px;
	background-color:#5191ce;
	border:1px solid #f0ebf0;
	border-radius:5px;
	margin-top:-7.3px;
	margin-right:37.4px;
	float:right;
	color:#f0ebf0;
	cursor:pointer;
	text-align:center;
	letter-spacing:3px;
	
	
}

#main{
	font-family: 'Nanum Gothic', sans-serif;
	position:absolute; top:50%; left:50%;
	transform:translate(-50%, -50%);
}

